<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>添加地址</title>
<link type="text/css" rel="stylesheet" href="/styles/admin.css">
</head>
<body>
<div id="header">
        <div class="header-layout">
            <h2 class="header-title">蛋糕系列表单</h2>
            <ul class="header-nav">
                <li class="nav-first">
                    <a href="/" target="_blank">首页</a>
                </li>
                <li>
                    <a href="/order" target="_blank">列表页</a>
                </li>
            </ul>
        </div>
    </div>
<table border="1">
  <thead>
    <tr>
	    <th>蛋糕系列</th>
  		<th>录入年份</th>
  		<th>查看</th>
  		<th>更新</th>
  		<th>删除</th>
    </tr>
  </thead>
  <tbody>
  <%for(var i in catetory){%>
    <tr class="i-id-<%=catetory[i]._id%>">
      <td><%=catetory[i].name%></td>
  		<td><%=moment(catetory[i].updateAt).format("MM/DD/YYYY")%></td>
  		<td><a href="../cake/<%=catetory[i]._id%>" arget="_blank">查看</a></td>
  		<td><a href="../admin/update/<%=catetory[i]._id%>" arget="_blank">修改</a></td>
  		<td><button style="font-size:25px;" class="del" type="button" data-id="<%=catetory[i]._id%>">删除</button>
    </tr>
    <%}%>
  </tbody>
</table>
<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/js/catetorydelete.js"></script>
</body>
</html>