<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>阿迪蛋糕店</title>
<link type="text/css" rel="stylesheet" href="/styles/reset.css">
<link type="text/css" rel="stylesheet" href="/styles/main.css">
<link type="text/css" rel="stylesheet" href="/styles/swiper.2.7.6.css">
<body>
	<div class="topbox">
        <div class="auto">
    	    <div class="logo">
    			<a href="#"><img src="/images/gongyong/logo.png"></a>
    		</div>
            <%if(user){%>
            <ul class="nav">
            <li><a href="/"><img style="vertical-align:middle" src="/images/gongyong/vip.png"><span>首页</span></a></li>
                <li><a href="/order"><img style="vertical-align:middle" src="/images/gongyong/about_mes.png"><span>订购蛋糕</span></a></li>
                <li><a href="#"><img style="vertical-align:middle" src="/images/gongyong/vip_area.png"><span>企业专区</span></a></li>
                <li><a href="#"><img style="vertical-align:middle" src="/images/gongyong/order.png"><span>关于我们</span></a></li>
                <li><a href="#"><img style="vertical-align:middle" src="/images/gongyong/home.png"><span><%=user.name%></span></a>
                <div class="vip1">
                    <div class="manage">
                    <a href="/information">个人信息</a><br />
                    </div>
                    <div class="inf">
                    <a href="/porder" >订单查看</a><br />
                    </div>
                    <div class="logout">
                    <a href="/logout" id="logout">登出</a><br />
                    </div>
                    <div class="shopping_car">
                                <p class="car"><img src="/images/gongyong/shopping_cart.png"/></p>
                                <p class="car_shop">快去选购吧!</p>
                    </div>
                </div>
                </li>
            </ul>
            <%}else{%>
    	    <ul class="nav">
                <li><a href="/"><img style="vertical-align:middle" src="/images/gongyong/vip.png"><span>首页</span></a></li>
    			<li><a href="/order"><img style="vertical-align:middle" src="/images/gongyong/about_mes.png"><span>订购蛋糕</span></a></li>
    			<li><a href="#"><img style="vertical-align:middle" src="/images/gongyong/vip_area.png"><span>企业专区</span></a></li>
    			<li><a href="#"><img style="vertical-align:middle" src="/images/gongyong/order.png"><span>关于我们</span></a></li>
    			<li><a href="#"><img style="vertical-align:middle" src="/images/gongyong/home.png"><span>会员登录</span></a>
                <div class="vip">
                    <div class="load" id="login">
                    立即登陆<br />
                    </div>
                    <div class="reg" id="register">
                    注册账号<br />
                    </div>
                </div>
                </li>
    		</ul>
            <%}%>
            <!--弹出窗口-->
            <div class="window_bg"></div>
                <div id="login_window">
                    <div class="data_title">
                        <h4>用户登录</h4>

                        <div id="lo_closed"></div>
                    </div>
                    <form method="POST" action="/user/signin">
                        <p class="username"><img src="/images/gongyong/people.png"><input type="text" name="user[name]" placeholder="账号"></p>

                        <p class="password"><img src="/images/gongyong/key.png"><input id="password" type="password" name="user[password]" placeholder="用户密码"></p>

                        <p class="errorshow" id="login_error"></p>

                        <p class="ret"><a href="/">忘记密码？</a></p>

                        <button id="login_l" type="submit">登录</button>

                        <p id="login_r">新用户注册</p>
                    </form>
                </div>

                <div id="re_window">
                    <div class="data_title">
                        <h4>新用户注册</h4>

                        <div id="re_closed"></div>
                    </div>       

                    <form method="POST" action="/user/signup">
                        <p class="re_user"><input id="re_user" type="text" name="user[name]" placeholder="请输入账号">
                        <p class="re_password"><input id="re_password"type="password" name="user[password]"  placeholder="设置6位以上的登录密码"></p>

                        <p class="errorshow" id="error"></p>

                        <button id="re_l" type="submit">注册</button>

                        <p id="re_w">如果您已是注册用户，请您<span id="re_login">登录</span></p>

                    </form>
                </div>
        </div>
	</div>
    <div class="con">
<!--banner-->
	<div class="out">
        <div class="img_box">
            <a href="/cake/59006a136b1334517ecc9196" class="linkweb">
                <img src="/images/shouye/1.jpg" alt="1" class="banner"/>
            </a>
            <a href="/cake/590069e86b1334517ecc9195" class="linkweb">
                <img src="/images/shouye/2.jpg" alt="2" class="banner"/>
            </a>
            <a href="/cake/59006aff6b1334517ecc9198" class="linkweb">
                <img src="/images/shouye/3.jpg" alt="3" class="banner">
            </a>
            <a href="/cake/59006ac16b1334517ecc9197" class="linkweb">
                <img src="/images/shouye/4.jpg" alt="4" class="banner"/>
            </a>
        </div>
        <div class="num_box">
            <div class="num1 hot"></div>
            <div class="num1"></div>
            <div class="num1"></div>
            <div class="num1"></div>
        </div>
    </div>
<!--分类-->
	<div class="auto">
	    <div class="classify">
            <div class="classify_title">
                <span class="title_line"></span>
                <span class="title_img"><img src="/images/shouye/cake_classify.png"></span>
                <span class="title_t">蛋糕分类</span>
                <span class="title_line"></span>
            </div>
        </div>
        <div class="classify_product">
        	<div class="row1">
        		<a href="#"><img src="/images/shouye/classify_image01.jpg"></a>
        		<span class="row1_bg1">情感系列</span>
        	</div>
        	<div class="row2">
        		<a href="#"><img src="/images/shouye/classify_image02.jpg"></a>
        		<span class="row1_bg1">极致系列</span>
        	</div>
        	<div class="row1">
        		<a href="#"><img src="/images/shouye/classify_image03.jpg"></a>
        		<span class="row1_bg1">趣味系列</span>
        	</div>
        	<div class="row2">
        		<a href="#"><img src="/images/shouye/classify_image04.jpg"></a>
        		<span class="row1_bg1">口味系列</span>
        	</div>
        </div>
    </div>
    </div>
<!--footer-->
    <div class="footer">
        <div class="auto">
            <div class="foot_title">
                <div class="ft_01">
                    <img src="/images/gongyong/index.jpg">
                    <div class="ft_01_t">下午茶</div>
                    <div class="ft_01_t_bg"></div>
                    <div class="ft_01_t1">
                        <span class="ft_01_t1_1"><img src="/images/gongyong/index01.png"></span><br/>
                        <span class="ft_01_t1_2">下午茶</span>
                    </div>
                </div>
                <div class="ft_01 ft_marl">
                    <img src="/images/gongyong/index1.jpg">
                    <div class="ft_01_t">时令</div>
                    <div class="ft_01_t_bg"></div>
                    <div class="ft_01_t1">
                        <span class="ft_01_t1_1"><img src="/images/gongyong/index02.png"></span><br/>
                        <span class="ft_01_t1_2">时令</span>
                    </div>
                </div>
                <div class="ft_01 ft_marl">
                    <img src="/images/gongyong/index2.jpg">
                    <div class="ft_01_t">咖啡</div>
                    <div class="ft_01_t_bg"></div>
                    <div class="ft_01_t1">
                        <span class="ft_01_t1_1"><img src="/images/gongyong/index03.png"></span><br/>
                        <span class="ft_01_t1_2">咖啡</span>
                    </div>
                </div>
                <div class="ft_01 ft_marl">
                    <img src="/images/gongyong/index3.jpg">
                    <div class="ft_01_t">周边品</div>
                    <div class="ft_01_t_bg"></div>
                    <div class="ft_01_t1">
                        <span class="ft_01_t1_1"><img src="/images/gongyong/index04.png"></span><br/>
                        <span class="ft_01_t1_2">周边品</span>
                    </div>
                </div>
                <div class="ft_01 ft_marl">
                    <img src="/images/gongyong/index4.jpg">
                    <div class="ft_01_t">每实专题</div>
                    <div class="ft_01_t_bg"></div>
                    <div class="ft_01_t1">
                        <span class="ft_01_t1_1"><img src="/images/gongyong/index05.png"></span><br/>
                        <span class="ft_01_t1_2">每实专题</span>
                    </div>
                </div>
            </div>
            <div class="foot_line"></div>
            <div class="foot_logo">
                <img src="/images/gongyong/logo.png"/>
            </div>
            <div class="foot_nav">
                <ul>
                    <a href="#"><li class="liactive">首页</li></a>
                    <a href="#"><li>订购蛋糕</li></a>
                    <li>各种专区</li>
                    <li>各种专题</li>
                    <a href="#"><li>关于我们</li></a>
                    <a id="foot_login"><li>会员登录</li></a>
                </ul>
            </div>
            <div class="foot_about">
                <div class="about_us">
                    <img src="/images/gongyong/phone.png"/>
                    <span>订购咨询热线：</span>
                    <span class="about_size">1000 200 300</span>
                    <img class="foot_mess" src="/images/gongyong/message.png"/>
                    <a href="#">联系我们</a>
                </div>
            </div>
            <div class="foot_ts">
                <ul>
                    <li class="tiactive">至少提前5年订购</li>
                    <li>全宇宙免费配送</li>
                </ul>
            </div>

        </div>
        <div class="foot_foot">
            <p>宇宙ICP备12345678号 宇宙公网安备12345678910111号</p>
            <p class="foot_ms">2017 All rights reserved</p>
        </div>
    </div> 
	<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/js/banner.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>